# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-wal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore the default development and test database config.
# Ignore .env file containing sensitive information.
.env

# Ignore public/uploads for carrierwave file uploads.
/public/uploads

# Ignore coverage reports.
/coverage/

# Ignore Mac and Linux system files.
.DS_Store
Thumbs.db

# Ignore node_modules directory.
/node_modules

# Ignore yarn error logs.
/yarn-error.log
